<div class="pre-footer_container">
    <section class="cta">
        <div class="cta-card">
            <div class="cta-card_text">
                <p>COMPANY</p>
                <h3>Get to know us.</h3>
                <div class="cta-card_arrow">
                    <img src="../images/arrow.svg" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="home-contact_form">
        <div class="form-card">
            <div class="form-container">
                <p>Ready to expect more from an agency partner?</p>
                <h3>Get in touch</h3>
                <form action="">
                    <input class="col-xs-12 short" type="text" name="name" placeholder="Name">
                    <input class="col-xs-12 short" type="text" name="company" placeholder="Company">
                    <input class="col-xs-12 short" type="text" name="email" placeholder="Email">
                    <select class="col-xs-12 short" name="" id="" placeholder="Inquiry Type">
                        <option value="" disabled selected>Inquiry Type</option>
                    </select>
                    <input class="col-xs-12" type="text" placeholder="What's goin' on?">
                    <input class="btn" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>
</div>